

.link {
    display: inline-flex;
    
    &__gray {
        transition: all .3s ease-in-out;

        &:hover {
            transform: translate(5px, 0);
            opacity: .9;
            color: #25323b;
        }

        &:focus {
            color: #25323b;
        }
        
    }
}